<h1>Récapitulatif de votre profil</h1>
<p>liste de vos missions</p>

<%= link_to "Explorer les parties disponibles", games_path, class: "btn btn-primary" %>

<%= button_to "Créer une nouvelle partie - Back to Egypt", games_path,
    method: :post, class: "btn btn-success btn-lg" %>
