<h1>Récapitulatif de votre profil</h1>
<p>liste de vos missions</p>
<ul>
  <li>Mission 1 - Terminée - Score 250</li><button>voir les détails</button>
  <li>Mission 2 - En cours - Score 250</li><button>Reprendre</button>
</ul>

<%= link_to "Explorer les parties disponibles", games_path, class: "btn btn-primary" %>

<%= button_to "Créer une nouvelle partie - Back to Egypt", games_path,
    method: :post, class: "btn btn-success btn-lg" %>
