<h1>Pages#home = page d'accueil de l'utilisateur</h1>

<p> Email de l'utilisateur actuellement connecté:
  
</p>
<p>Nom de l'équipe : groupe 8</p>
<%= link_to "Explorer les parties disponibles", games_path, class: "btn btn-primary" %>

<%= button_to "Créer une nouvelle partie - Back to Egypt", games_path,
    method: :post, class: "btn btn-success btn-lg" %>
