<h1>Voici la liste des missions disponibles</h1>
<%= current_user.email %>
<%= button_to "Créer une nouvelle partie - Back to Egypt", games_path,
    method: :post, class: "btn btn-success btn-lg" %>
