.navbar-chronoshift {
  justify-content: space-between;
  background: $eerie-black;
}

.navbar-chronoshift .navbar-collapse {
  flex-grow: 0;
}

.navbar-chronoshift .navbar-brand img {
  height: 100%;
  max-height: 56px;
  width: auto;
}
